<div class="sidebar wiki-sidebar col-sm-3 <%= "hide-ios" if action_name != "index" %>">
  <div class="card">
    <div class="card-body">
      <strong>导航</strong>
      <ul>
        <li><a href="/wiki/intro">普惠社区</a></li>
        <li><a href="/wiki/copyright">隐私与版权</a></li>
        <li><a href="/wiki/help">帮助中心</a></li>
        <li><a href="/wiki/thanks">特别鸣谢</a></li>
        <li><a href="/wiki/contact">联系我们</a></li>
      </ul>

      <%= raw Setting.wiki_sidebar_html %>
    </div>
  </div>
</div>
